<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Using class base view</h1>
    
      <h5> {{student.name}} | {{student.email}} | {{student.std}} </h5>

    <!-- <h3>*** Adding model in context in class base view ***</h3>
    {% for test in tests %}
      <h5> {{test.subject}} | {{test.marks}}  </h5>
    {% endfor %} -->
</body>
</html>