<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- for details : https://docs.djangoproject.com/en/4.1/topics/forms/ -->
     <h1>User custom update form</h1>

     <form action="" method="POST" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            {{field.label}} {{field}} {{field.error | striptags}}
            <br><br>
        {% endfor %}

        <input type="submit" value="update">
     </form>
</body>
</html>